@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#050508] text-slate-200 overflow-x-hidden selection:bg-cyan-500/30;
  }
}

.glow-text {
  text-shadow: 0 0 15px rgba(6, 182, 212, 0.5);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
